#navbar {
    position: absolute;
    bottom: 1vh;
    right: 6vh;
}

#navbar ul {
    list-style: none;
}

li {
    margin: 5px;
}

a {
    color: black;
}

a:hover {
    color: pink;
}

#footer {
    position: absolute;
    bottom: 2vh;
    left: 7vh;
}
