@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: 'VT323', Regular;
    src: url("/assets/VT323/VT323-Regular.ttf");
}

canvas, img {
    width: 1280px;
    height: 620px;
    position: relative;
    display: flex;
}

canvas {
    margin-top: -576px;
}

#end-screen {
    display: none;
}

#timer {
    align-content: center;
    width: 1024px;
    height: 576px;
    position: absolute
}

#splash-instructions {
    z-index: 2;
    // position: inherit;
}

#end-screen {
    z-index: 10;
    position: absolute;
}

$game-font: 'VT323', monospace;

html, body, button {
    font-family: $game-font;
}


// #background_img {
//     position: relative;
//     display: block;

// }

// #timer {
//     background-color: black;
//     width: 100px;
//     height: 50px;
//     display: flex;
//     justify-self: center;
// }