@import url(./styles/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url(./styles/nav.css);

@font-face {
    font-family: 'VT323', Regular;
    src: url("/assets/VT323/VT323-Regular.ttf");
}

canvas, img {
    width: 1280px;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

body-container {
    z-index: 1;
}
canvas {
    z-index: 2;
}

// splash {
    
// }
.splash {
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#splash-instructions {
    z-index: 3;
}

#end-screen {
    z-index: 4;
    display: none;
}

h1 {
    font-size: 45px;
    margin-top: 15px;
    display: flex; 
    justify-content: center;
}

// #splash-instructions p {
//     font-size: 20px;
// }

button {
    background-color: transparent;
    // background-repeat:no-repeat;
    border: none;
    font-size: 25px;

}
button:hover {
    background-color: pink;
    transform: scale(1.5);
}

// body{
//     background-image: url('http://i.stack.imgur.com/kx8MT.gif');
//     background-size: cover;
//                                    POSSIBLE BACKGROUND MAYBE CODE
    
    
//     height: 100vh;
//     padding:0;
//     margin:0;
// }


#timer {
    align-content: center;
    width: 1024px;
    height: 576px;
    position: absolute
}


$game-font: 'VT323', monospace;

html, body, button {
    font-family: $game-font;
}
