@import url(./styles/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url(./styles/nav_footer.css);
@import url(./styles/splash.css);
@import url(./styles/button.css);

// handle fonts
@font-face {
    font-family: 'VT323', Regular;
    src: url("/assets/VT323/VT323-Regular.ttf");
}

$game-font: 'VT323', monospace;


// tie html canvas to background canvas image in the center
canvas, #canvas_img {
    width: 1280px;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    align-content: center;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

html, body {
    overflow: hidden;
    font-family: 'VT323', Regular;
}

#body-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1400px;
    height: 800px;
    align-content: center;
    transform: translate(-50%, -50%);
}

canvas {
    z-index: 2;
}

#background_img {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

h1 {
    font-size: 50px;
    top: 20%;
    display: flex;
    justify-content: center;
}


/* handles buttons */
#audio_button {
    z-index: 5;
    position: absolute;
    top: 9%;
    left: 91%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#audio_button:hover {
    color: pink;
}

.game-button:hover {
    background-color: pink;
    transform: scale(1.5);
}

button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-family: $game-font;
}


// game elements!
#timer {
    z-index: 4;
    position: absolute;
    font-size: 30px;
    top: 10%;
    right: 48%;
    transform: translate(-50%, -50%);
}



